<!DOCTYPE html>

<html lang="en">


<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<title>Raccoon Express -- Create Account</title>
</head>


<body>

<h1>Create Account</h1>

<form name="createaccount" action="" method="post">

<p>
<label for="username">Username:</label>
<input type="text" name="username" id="username">
</p>

<p>
<label for="emailaddress">E-mail address:</label>
<input type="text" name="emailaddress" id="emailaddress">
</p>

<p>
<label for="firstname">First name:</label>
<input type="text" name="firstname" id="firstname">
</p>

<p>
<label for="surname">Surname:</label>
<input type="text" name="surname" id="surname">
</p>

<p>
<label for="password">Password:</label>
<input type="password" name="password" id="password">
</p>

<p>
<label for="reenterpassword">Re-enter password:</label>
<input type="password" id="reenterpassword">
</p>

<input type="submit" value="Submit"></p>

</form>

</body>


</html>