<!DOCTYPE html>

<html lang="en">


<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<title>Raccoon Express -- Account Successfully Created</title>
</head>


<body>

<h1>Account Successfully Created</h1>

<form name="createaccount" action="" method="get">

<p>
<label for="username">Username:</label>
<input type="text" name="username" id="username" value="{{ username }}">
</p>

<p>
<label for="emailaddress">E-mail address:</label>
<input type="text" name="emailaddress" id="emailaddress" value="{{ username }}">
</p>

<p>
<label for="firstname">First name:</label>
<input type="text" name="firstname" id="firstname" value="{{ username }}">
</p>

<p>
<label for="surname">Surname:</label>
<input type="text" name="surname" id="surname" value="{{ username }}">
</p>

<p>
<label for="password">Password:</label>
<input type="password" name="password" id="password" value="{{ username }}">
</p>

<p>
<label for="reenterpassword">Re-enter password:</label>
<input type="password" name="reenterpassword" id="reenterpassword" value="{{ username }}">
</p>

<input type="submit" value="Submit"></p>

</form>

</body>


</html>