<!DOCTYPE html>

<html lang="en">


<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<title>Raccoon Express -- Create Account</title>
</head>


<body>

<h1>Create Account</h1>

<form name="createaccount" action="" method="post">
{% csrf_token %}
{% if error %}
    <p style="color: red;">You did not fill in the following fields:</p>
    <ul style="color: red;">
        {% if username == '' %}
            <li>Username</li>
        {% endif %}

        {% if emailaddress == '' %}
            <li>E-mail address</li>
        {% endif %}

        {% if firstname == '' %}
            <li>First name</li>
        {% endif %}

        {% if surname == '' %}
            <li>Surname</li>
        {% endif %}

        {% if password == '' %}
            <li>Password</li>
        {% endif %}

        {% if reenterpassword == '' %}
            <li>Re-enter password</li>
        {% endif %}
    </ul>
    <p style="color: red;">Please fill them in and submit again.</p>
{% endif %}

<p>
<label for="username">Username:</label>
<input type="text" name="username" id="username" value="{{ username }}">
(Required)
</p>

<p>
<label for="emailaddress">E-mail address:</label>
<input type="text" name="emailaddress" id="emailaddress" value="{{ emailaddress }}">
(Required)
</p>

<p>
<label for="firstname">First name:</label>
<input type="text" name="firstname" id="firstname" value="{{ firstname }}">
(Required)
</p>

<p>
<label for="surname">Surname:</label>
<input type="text" name="surname" id="surname" value="{{ surname }}">
(Required)
</p>

<p>
<label for="password">Password:</label>
<input type="password" name="password" id="password" value="{{ password }}">
(Required)
</p>

<p>
<label for="reenterpassword">Re-enter password:</label>
<input type="password" name="reenterpassword" id="reenterpassword" value="{{ reenterpassword }}">
(Required)
</p>

<input type="submit" value="Submit"></p>

</form>

</body>


</html>