<h1>Place Your Order</h1>


{% block content %}
<form id="order-form" action="" method="post">

<!--<label for="">Code ID:</label> {{ form.order_id }}

<style>
ul {
	list-style-type: none;
}
</style>-->

	{% csrf_token %}

    <div class="fieldWrapper">
        {{ form.item_name.errors }}
        <label for="{{ form.item_name.id_for_label }}">Order Status:</label>
        <div class="field">
        {{ form.item_name }}
        </div>
    </div>


{% endblock %}



	<p>Code: {{ form.order_id }}</p>

	{% for menu in menu_item_list %}

    {{form.item_name}}
    {{form.
	<!--<label for="item_name">Item: {{ menu.Name }}</label>-->
		<!--<p>{{ menu.Name }}</p>-->
		<!--<p>{{ menu.Description }} - ${{ menu.Price }}</p>-->

		<!--{{ form.as_ul }} -->
		<!--<p> Number of items: {{ form.num_items }}</p>
		<p> Special Requests and Dietary Restrictions:</p>
		<p>	{{ form.notes }}</p>-->

	{% endfor %}

	{{ form.errors }} {{ form.non_field_errors }}
<!--{% if form.errors %}
	{{ form.order_id.errors }}
	{{ form.item_name.errors }}
	{{ form.num_items.errors }}
	{{ form.notes.errors }}


{% endif %}-->


	<input id="PlaceOrder" type="submit" value="Order" />

</form>
