{% load static %}

<h1> Server Main Page </h1>
<script type="text/javascript" src="{% static 'restaurant/script.js' %}"></script>

<a href="{% url 'restaurant:orderstart' %}">Create New Order</a>
</br>
<a href="{% url 'restaurant:orders' %}">View Orders</a>

{% if current_alert_list %}
    <ul>
    {% for alert in current_alert_list %}
        <li><a href="{% url 'restaurant:alertdetails' alert.id %}">Table #{{ alert.Order.Table }} - {{alert.Message}}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No current alerts.</p>
{% endif %}
