{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'menu/style2.css' %}" />
<h1> MANAGER DASHBOARD </h1>
<b><p> Welcome Manager, </p></b>
<h2> Click on the following Buttons to help you manage the restuarant </h2>

<table style="width:100%">
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td><div class=a><a href="{% url 'menu:viewmenu' %}">View Menu Items</a></div></td>
    <td><div class=a><a href="{% url 'menu:update' %}">Add to  Menu Items</a></div></td>
    <td><div class=a><a href="{% url 'menu:specialviewmenu' %}">View  SPECIAL Menu Items</a></div></td>
    <td><div class=a><a href="{% url 'menu:surveyupdate' %}">Add Question to Survey</a></div></td>
  </tr>
  <tr>
    <td><div class=a><a href="{% url 'menu:specialupdate' %}">Add to Special Menu</a></div></t>
    <td><div class=a><a href="/server/orders">View Orders for the Day</a></div></td> 
    <td><div class=a><a href="{% url 'menu:survey' %}">View  Survey</a></div></td>


  </tr>
</table>


<p> Thank you for choosing Racoon Express </p>
